/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap') ;
html {
font-size : 60.5%;
scroll-behavior : smooth;
background : url(/asset/image.jpg) center center / cover no-repeat fixed;
}
body {
font : 1.6rem sans-serif;
margin : 0;
line-height : 1.6;
text-rendering : optimizeLegibility;
}
h1, h2, h3 {
font-family : 'Comic Neue', cursive;
font-weight : 400;
text-transform : capitalize;
}
h1, h2, h3, h4, p,  ol, figure {
margin : 0;
padding : 0;
list-style : none;
}
* {
box-sizing : border-box;
}
img {
display : inline-block;
height : 100%;
border-radius : 50%;
width : 430px;
margin : 5rem;
}

ol{
    text-decoration: underline;
}
/*theme*/
a {
text-decoration : none;
color : #222;
}
:root {
--color-primary : #3D3C3C;
--color-secondary : #8E8D8D;
--color-complementary : #403F3F;
--color-last : #3C3737;
--color-header : #ECE6EA;
}
header, nav, main, footer {
max-width : 120rem;
margin : 0 auto;
background-color:darkgray;
border : #222;
padding: 2rem;
}
header {
   font-size: 25px;
   text-align: center;
   -webkit-text-fill-color: transparent;
   background: linear-gradient(to right, #805465, #ffffff,#e4612e, #eedd44);
    -webkit-background-clip: text;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}
    
   
    

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
line-height : 3rem;
color : rgb(0, 0, 0);
padding : 2rem;
background-color: #fff;
z-index: 1;
background-color:darkgrey ;

}


h2{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
border-radius : 50%;

}
section{
    padding: 2rem;
    background-color:#8E8D8D
}

footer {
text-align : center;
}



