/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

html{
    font-size: 60.5%;
    scroll-behavior: smooth;
    background: #222 url(../asset/image1.jpg)no-repeat fixed center center / cover;
    
}
body{
    font: 1.6rem sans-serif;
    margin: 0;
    line-height: 1.6;
    text-rendering:optimizeLegibility;
    
}
h1,h2,h3{
    font-family: 'Comic Neue', cursive;
    font-weight: 400;
    text-transform: capitalize;
}
h1,h2,h3,h4,p,ul,ol, figure{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
*{
    box-sizing: border-box;
}
img{
    display: inline-block;
    height: 100%;
    vertical-align: left;
    object-fit: center;
    border-radius: 50%;
    float: left;
    width: 430px;
    margin: 5rem;
  
}
a{
    text-decoration: none;
    color: #222;
}
/* theme */
:root{
    --color-primary: #3D3C3C;
    --color-secondary: #8E8D8D;
    --color-complementary: #403F3F;
    --color-last: #3C3737;
    --color-header: #ECE6EA;
}
header,nav,main,footer{
    max-width: 120rem;
    margin: 0 auto;
    background-color: rgba(163, 145, 122, 0.473);
    border: #222;
    overflow: hidden;
    padding: 2rem;
  
}
header h1 ::before {
    content: url(../asset/batman-logo.png);
    vertical-align: top;
    filter: invert(100%);
}


header{
 background: linear-gradient(to right, #fffefe,
#ff6b08, #ffffff, #a55d2d);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
text-align: center;
font-size: large;
}
li:before { font-family: 'FontAwesome'; 
    content: '\f098'; 
    margin:0 5px 0 -15px; 
    color: rgba(228, 119, 17, 0.884); }
nav{
      line-height : 3rem;
      color : var(--color-text);
      color : rgb(0, 0, 0);
      padding:2rem;
}
 h2{
    border-radius:50%;
    text-decoration: underline;
    font-family:Georgia, 'Times New Roman', Times, serif
}

p{
    border: rgb(65, 51, 97) solid;
    border-radius: 2rem;
    overflow: hidden;
}
footer{
    text-align: center;
}



  
  

